@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <!-- below was added to the main page because I didn't want to remove it since it's default to ASP.NET MVC creation. i apologize if i was supposed to remove this.' -->
    <p><a asp-controller="Product" asp-action="Index">Go to Movie Rentals</a></p>
</div>
